@media screen and (max-width: 48rem) { 

#section_dont {
    display: block;
    margin: 0 auto;
     width: 100%;
}

#section_dont_header {
    padding-top: 10%;
    max-width: 19ch;
    font-size: 1.65rem;
    margin: 0 auto;
    text-align: center;
}

#section_dont_image {
    padding-top: 2%;
    width: 100%;
    height: 11rem;
}

}