@media screen and (max-width: 48rem) { 

#section_yours {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#section_yours_header {
    padding-top: 10%;
    font-size: 1.65rem;
    margin: 0 auto;
    text-align: center;
}

#section_yours_text {
    padding-top: 2%;
    font-size: 0.8rem;
    margin: 0 auto;
    text-align: center;
}

#section_yours_image, #section_yours_image_two  {
    padding-top: 5%;
    width: 23rem;
    height: 11rem;
}

}
